*{
  margin:0;
  padding:0;
  font-size: 12px;
  font-family: "Microsoft Yahei",sans-serif;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.text_center{
  text-align: center;
}
.text_left{
  text-align: left;
}
.text_right{
  text-align: right;
}
textarea{
  /* 边框清零 */
  border:none;
  /* 轮廓线清零 */
  outline: none;
  /* 防止文本域被随意拖拽 */
  resize: none;
}
i{
  /*文字样式*/
  font-style: normal;
}
table{
  /*边框合并*/
  border-collapse:collapse;
  border-spacing:0;
}

/* 使用伪元素清除浮动 */
.clearfix::before,
.clearfix::after{
  content:"";
  height: 0;
  line-height: 0;
  display: block;
  visibility: none;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
ul,dl{
  list-style: none;
  display: inline-block;
}
.bgc_white{
  background-color: white;
}
.mt_20{
  margin-top: 20px;
}
.mb_20{
  margin-bottom: 20px;
}
.ml_20{
  margin-left: 20px;
}
.mr_20{
  margin-right: 20px;
}
form .el-input__inner{
  height: 30px;
  line-height: 30px;
  width: 180px;
}
.el-input__inner{
  height: 30px;
  line-height: 30px;
}
.input_line{
  display: inline-block;
  width: 185px;
}
.el-button{
  padding: 8px 20px;
}
.el-button--mini, .el-button--mini.is-round{
  padding: 7px 15px;
}
.el-input__icon{
  line-height: 30px;
}
.el-select-dropdown__list{
  width: 100%;
}
a{
  color: #5a98ff;
  text-decoration: none;
}
a:hover{
  color: #438eb9;
}
.el-form-item__label,.el-form-item__content{
  line-height: 30px;
}
.el-form-item{
  margin-bottom: 20px;
}
.el-form-item__label{
  width: 100px;
}
.text_red{
  color: #f00;
}
.el-upload-list--picture-card .el-upload-list__item{
  height: 80px;
  width: 80px;
}
.el-upload--picture-card{
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.table_img{
  width: 80px;
  height: 80px;
}
.item{
  padding: 20px 20px 0 20px;
}
a {
  cursor: pointer;
}
.el-button.el-button--text{
  padding: 3px;
}
.el-button.el-button--text +.el-button.el-button--text{
  margin-left: 2px;
}
.el-form-item__label{
  font-size: 12px;
}
.el-date-editor .el-range-separator,.el-input__icon{
  height: auto;
}




















